body {
    margin: 0;
    padding: 0;
    font-family: 'TildaSans', Arial, sans-serif;
}

h1 {
    color: black;
    font-size: 4rem;
    font-family: 'Manrope', Arial, sans-serif;
    text-align: center;
    margin-top: 70px;
}

ul {
    
    padding: 0px 15% 0px 20%;
}

a {
    text-decoration: none;
}

li:nth-child(even){
    background: #e2e2e2;
}


