form {
    margin-top: 30px;
    padding: 30px;
    font-family: 'TildaSans', Arial, sans-serif;
    font-size: 25px;

}

input {
    font-family: 'TildaSans', Arial, sans-serif;
    font-size: 20px;
    height: 40px;
    width: 70vh;
}

button {
    background-color: rgb(73, 149, 248);
    height: 50px;
    font-family: 'Manrope', Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
    padding: 10px 16px;
    border-radius: 15px;
}

p {
    font-family: 'TildaSans', Arial, sans-serif;
    font-size: 20px;
}

#duplicateField {
    margin: 0px 5px;
    padding: 10px 10px;
    height: 25vh;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}